In [80]:
import pandas as pd


df = pd.read_csv('https://s3.amazonaws.com/shelterdata/shelter1000.csv')
df.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,05/08/2019 6:20:00 PM,May 2019,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 4:02:00 PM,Jul 2018,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A821648,NaN,08/16/2020 11:38:00 AM,Aug 2020,08/16/2019,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray
3,A720371,Moose,02/13/2016 5:59:00 PM,Feb 2016,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
4,A674754,NaN,03/18/2014 11:47:00 AM,Mar 2014,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby

In [81]:
import pandas as pd
import requests
import numpy as np

In [82]:

r = requests.get("https://data.austintexas.gov/resource/9t4d-g238.json")
JSON = r.text
df = pd.read_json(JSON)
df.head()

,animal_id,name,datetime,monthyear,date_of_birth,outcome_type,animal_type,sex_upon_outcome,age_upon_outcome,breed,color,outcome_subtype
0,A794011,Chunk,2019-05-08 18:20:00,2019-05-08T18:20:00.000,2017-05-02T00:00:00.000,Rto-Adopt,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White,NaN
1,A776359,Gizmo,2018-07-18 16:02:00,2018-07-18T16:02:00.000,2017-07-12T00:00:00.000,Adoption,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown,NaN
2,A821648,NaN,2020-08-16 11:38:00,2020-08-16T11:38:00.000,2019-08-16T00:00:00.000,Euthanasia,Other,Unknown,1 year,Raccoon,Gray,NaN
3,A720371,Moose,2016-02-13 17:59:00,2016-02-13T17:59:00.000,2015-10-08T00:00:00.000,Adoption,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff,NaN
4,A674754,NaN,2014-03-18 11:47:00,2014-03-18T11:47:00.000,2014-03-12T00:00:00.000,Transfer,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby,Partner

In [83]:
# Date Column
df['Day'] = df["datetime"].dt.day
df['Month'] = df["datetime"].dt.month
df['Year'] = df["datetime"].dt.year
df['Date ID'] = df["datetime"].dt.date.astype(str)
df['Date ID'] = df["Date ID"].str.replace('-', '')

In [84]:
# Seperate sex_upon_outcome
df.sex_upon_outcome.unique()
df[['Reproductive Status', 'Sex']] = df.sex_upon_outcome.str.split(expand=True)
df['Reproductive Status'].replace('Unknown', None, inplace=True)

In [85]:
df['name'] = df.name.str.replace('*', '')

In [86]:
# Birthdate
df[['DOB', 'time']] = df["date_of_birth"].str.split("T", expand=True)

In [87]:
df.drop(columns = ['monthyear', 'sex_upon_outcome','age_upon_outcome', 'outcome_subtype', 'time', 'datetime', 'date_of_birth'], inplace=True)

In [88]:
df = df.rename(columns={
        "animal_id":'Animal ID',
        "name":'Name',
        "outcome_type":'Outcome',
        'animal_type':'Animal Type',
        'breed':'Breed',
        'color':'Color'
        })

In [89]:
df

,Animal ID,Name,Outcome,Animal Type,Breed,Color,Day,Month,Year,Date ID,Reproductive Status,Sex,DOB
0,A794011,Chunk,Rto-Adopt,Cat,Domestic Shorthair Mix,Brown Tabby/White,8,5,2019,20190508,Neutered,Male,2017-05-02
1,A776359,Gizmo,Adoption,Dog,Chihuahua Shorthair Mix,White/Brown,18,7,2018,20180718,Neutered,Male,2017-07-12
2,A821648,NaN,Euthanasia,Other,Raccoon,Gray,16,8,2020,20200816,None,None,2019-08-16
3,A720371,Moose,Adoption,Dog,Anatol Shepherd/Labrador Retriever,Buff,13,2,2016,20160213,Neutered,Male,2015-10-08
4,A674754,NaN,Transfer,Cat,Domestic Shorthair Mix,Orange Tabby,18,3,2014,20140318,Intact,Male,2014-03-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,A705114,NaN,Transfer,Dog,German Shepherd Mix,Brown,13,6,2015,20150613,Intact,Male,2015-06-11
996,A800888,NaN,Transfer,Dog,Cavalier Span,Black/White,1,8,2019,20190801,Intact,Female,2019-07-03
997,A796517,Chiquis,Adoption,Dog,Chihuahua Shorthair Mix,Brown/White,8,6,2019,20190608,Spayed,Female,2017-06-02
998,A880162,NaN,Adoption,Cat,Domestic Shorthair,Black/White,9,5,2023,20230509,Neutered,Male,2023-03-05
999,A772727,Oreo,Return to Owner,Dog,Basset Hound Mix,White/Tricolor,6,6,2018,20180606,Spayed,Female,2017-12-07